<div class="dialog-body">   
    <h1>Congratulations</h1>
    <h2>You have finished <span class="nowrap">{{text}}</span></h2>

    <div class="bottom-button">
        <h3>Press "OK" to continue.</h3>
        <div class="button" (click)="closeDialog()">OK</div>
    </div>

</div>

