.dialog-body
    padding: 20px
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    box-sizing: border-box
    text-align: center

.bottom-button
    flex: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end

.button
    width:40%
    background-color: white
    height: 50px
    -moz-box-shadow:    5px 5px 5px 3px #ccc
    -webkit-box-shadow: 5px 5px 5px 3px #ccc
    box-shadow:         3px 3px 3px 3px #ccc
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    border-radius: 15px

.button:hover
    background-color: #0077db
    color: white

.nowrap
    white-space: nowrap
