.top
    text-align: center
    margin: 10px

.description_body
    padding: 0px 20px 9px 30px
    height: calc(100% - 140px)
    

.button
    width:40%
    background-color: white
    height: 50px
    border-radius: 10px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc

.button:hover
    background-color: #0077db
    color: white

.bottom_buttons
    display: flex
    align-items: center
    justify-content: center


