<div class="top">
    <h2>Activity</h2>
</div>
<div class="description_body" mat-dialog-content>
    <br>
    <div [ngSwitch]="activityType">
        <div *ngSwitchCase="'type_1'">
            Wejdź do obszaru oznaczonego na mapie.<br><br>

            Wciśnij przycisk “Start activity”.<br><br>

            Przytrzymaj przycisk wyświetlony na ekranie do czasu aż cały pasek zostanie napełniony.

        </div>
        <div *ngSwitchCase="'type_2'">
            Wejdź do obszaru oznaczonego na mapie.<br><br>

            Skieruj telefon w stronę obiektu oznaczonego wskażnikiem z ikoną aparatu. <br><br>

            Wciśnij przycisk “Start activity”.<br><br>

            Zrób zdjęcie miejsca oznaczonego przez wskażnik aparatu. <br><br>

            Uwaga robione zdjęcia nie są zapisywane lokalnie oraz nie są wysyłane na server. <br>
        </div>
        <div *ngSwitchCase="'type_3'">
            Type3
        </div>
    </div>
</div>
<div mat-dialog-actions class="bottom_buttons">
    <div class="button" (click) = "close()">
       Ok 
    </div>  
</div>