.objective
    display: flex
    flex-direction: column
    height: 100%
    width:100%
    flex: 1

.map
    width:100%
    flex: 1

.buttons
    height: 60px
    width: 100%
    display: flex
    justify-content: space-evenly
    flex-direction: row
    background-color: #0077db
    font-size: 60px
    color: white

.material-icons
    font-size: 40px

.router-flex 
    display: flex
    flex: 1 1 auto
    flex-direction: column

.minigame-start
    width: 75%
    background-color: white
    height: 50px
    position: absolute
    bottom: 100px
    border-radius: 15px
    left:50%
    transform: translate(-50%, 0%)
    animation: pulse-button 0.8s infinite
    vertical-align: middle
    text-align: center
    line-height: 50px

.minigame-start:hover
    background-color: #0077db
    color: white


.bottom_button
    width:25%
    vertical-align: middle
    text-align: center
    line-height: 60px
    border-radius: 10px


.bottom_button:hover
    color: black
    background-color: #84c8ff

.dot
    position: relative
    top: -50px
    right: -55px
    right: -60%
    height: 5px
    width: 5px
    z-index: 10
    background-color:#ef5350
    border: 5px solid #ef5350
    border-radius: 70px
    animation: pulse-dot 1s ease-out infinite



@keyframes pulse-button
    0%
        box-shadow: 0 0 0 0px rgba(#007be0, 0.6)
    100%
        box-shadow: 0 0 0 25px rgba(#007be0, 0)

@keyframes pulse-dot
    0%
        box-shadow: 0 0 0 0px rgba(#ff0000, 0.6)
    100%
        box-shadow: 0 0 0 10px rgba(#e00000, 0)