<div class="objective" fxLayout="column" fxFlex="1 1 auto">
    <div *ngIf="viewLoaded" fxFlex="grow" fxLayout="column" >
        <app-map class="map" fxFlex="grow" 
        [poly_points]="objective.poly_points" [coordinates]="objective.coordinates" [activityCoords]="activityCoords"
        (intersectOutput)="intersectOutputFromChild($event)" (compassOutput)="compassOutputFromChild($event)">
        </app-map><!--have to refresh child 
            component because of problems regarding flex box-->
        <div class="buttons" fxFlex="nogrow">
            <div class="bottom_button" (click)=openActivityInfo()>
                <span class="material-icons">
                info
                </span>
            </div>
            <div class="bottom_button" (click)="openObjectiveInfo()">
                <span class="material-icons">
                list
                </span>
                <div class="dot" *ngIf="!infoButtonClicked"></div>
            </div>
        </div>
    </div>
    <div class="minigame-start" *ngIf="insidePolygon" (click)="openActivity()">START ACTIVITY</div>
</div>