<div *ngIf="isLoaded">
    <div class="profile_center">
        <div class="profile">
            <div class="lvl_circle">
                    <div class="lvl_num">{{lvl}}</div>
            </div>
            <div class="progress_text">{{ranking.points - progress_base}}\{{next_lvl}}</div>
            <div class="lvl_bar">
                <div class="lvl_bar progress" id="progress" (ngInit)="calculateProgressbar()"></div>
            </div>
        </div>
    </div>
    <div class="profile_content">
        <div class="content_text"><a class="content_text_pre">Username : </a><a class="content_text_el">{{userData.username}}</a></div>
        <div class="content_text"><a class="content_text_pre">E-mail : </a><a class="content_text_el">{{userData.email}}</a></div>
        <div class="content_text"><a class="content_text_pre">Finished missions : </a><a class="content_text_el">{{finishedMissions}}</a></div>
        <div class="content_text"><a class="content_text_pre">All points : </a><a class="content_text_el">{{ranking.points}}</a></div>
    </div>
</div>
<div class="spinner" *ngIf="!isLoaded"></div>
