.profile
    margin-top: 20px
    width: auto
    //display: column
    //align-items: center
    //justify-content: center

.username
    align-self: left  

.profile_center
    display: flex
    align-items: center
    justify-content: center
    
.lvl_circle
    width: 200px
    height: 200px
    border-radius: 50%
    border: 10px solid #008bff
    color: #fff
    line-height: 40px
    background: #6abbff
    margin: auto
    align-self: center
    display: flex
    align-items: center
    justify-content: center

.lvl_num
    font-size:100px
    align-self: center
    margin:auto

.lvl_bar
    border-radius: 10px
    width: 250px
    background-color: white
    height: 30px

.progress
    width: 0%
    background-color: #0077db


.profile_content
    margin: 4%
    margin-top:20px
    border-radius: 10px
    padding: 10px
    font-size: 22px
    background-color: white

.content_text_el
    float: right
    margin-right: 9px
    font-weight: bold
    align-self: right
    word-wrap: break-word
    overflow: hidden

.content_text
    height: auto
    display: flex
    align-items: flex-start
    justify-content: space-between
    background-color: white
    margin-bottom: 10px
    height: 30px
    line-height: 30px
    vertical-align: middle
    display: flex
    padding: 10px
    border-radius: 10px
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc

.content_text_pre
    white-space: nowrap



@media only screen and (max-width: 358px) 
  .profile_content 
    font-size: 18px
  

    