html
    height: 100%
    width: 100%

body
    font-family: Arial
    //background-color: #dbefff
    background-color: #f3f3f3
    margin: 0px
    height: 100%



a:link
    color: white
    text-decoration: none

a:visited
    color: white
    text-decoration: none
    
.spinner
    border: 16px solid white
    border-top: 16px solid #0077db
    border-radius: 50%
    width: 120px
    height: 120px
    animation: spin 2s linear infinite
    margin: auto
    margin-top:30px

.locate 
    top: 10em
    left: .5em

.locate-objective
    top: 13em
    left: .5em

.activity-overlay .mat-dialog-container
    padding: 0px
    width: 100%


.activity-overlay
    max-width: none !important

@keyframes spin 
  0% 
      transform: rotate(0deg)
  100% 
      transform: rotate(360deg)
