.vid
    width: 100%
    height: 100%


video.vid 
    position: absolute
    z-index: 0
    background-size: 100% 100%
    top: 0px
    left: 0px
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto

.cam-overlay
    position: absolute

.cam-overlay-animation
    z-index: 0
    background-size: 100% 100%
    top: 0px
    left: 0px
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    background-color: rgba(255, 255, 255, 1)
    transition: background-color 500ms 
    


.exit-button
    position: absolute
    background-color: white
    width: 50px
    height: 50px
    right: 10px
    top: 10px
    font-size: 45px
    border-radius: 50%
    vertical-align: middle
    text-align: center
    line-height: 50px

.exit-button:hover
    background-color: #0077db
    color: white


.icon-padd
    line-height: 30px
    margin-left: 10px

.snap_button
    position: relative
    background-color: white
    border-radius: 17px
    width: 100%
    height: 60px
    left: -50%
    display: flex
    align-items: center
    justify-content: center

.snap_button:hover
    background-color: #0077db
    color: white

.horizontal_align
    display: inline-flex
    vertical-align: middle
    align-items: center


.pack
    position: absolute 
    left: 50%    
    bottom: 50px
    width: 60%