<div class="container vh-100">
    <div class="d-flex flex-column align-items-center">
       <div class="p-1">
          <video #video class="vid" autoplay></video>
       </div>
    </div>
</div>
<div class="exit-button" (click)="exitPhoto()">ⓧ</div>
<div class="pack">
   <div class="snap_button" (click)="snapPhoto()">
      <div class="horizontal_align">
         <span>Take photo</span> <i class="material-icons icon-padd">camera</i>
      </div>     
   </div>
</div>
<div class="cam-overlay" #animatethis></div>
