<div class="top">
    <h2>Description</h2>
</div>
<div class="description_body">
{{description}}
</div>
<div mat-dialog-actions class="bottom_buttons">
    <div class="button" (click) = "close()">
       Ok 
    </div>  
</div>