<div class="missions" *ngIf="loaded">
    <h1 class="main_text">Missions</h1>
    <div class="main_card" >
        <div class="label"><a class="label_text">In progress</a></div>
        <div class="mission" *ngFor="let m of in_progress_missions" (click)="goToMission(m.mission_id)">
            <div class="mission_thumnail" [style.background-image]="m.mission.picture ? image_64 + m.mission.picture + ')': ''">{{m.mission.difficulty_id}}</div>
            <div class="mission_content">
                <div class="mission_title">{{m.mission.name}}</div>
                <div class="mission_bottom">
                    <div class="mission_points">Points : {{m.mission.points}}</div>
                    <div class="mission_progress">{{m.objective_progress - 1}}/{{m.mission.objective_count}}</div>
                </div>
            </div>
        </div>
        <div class="empty" *ngIf="!in_progress_missions.length">
            EMPTY
        </div>
    </div>

    <div class="main_card" >
        <div class="label"><a class="label_text">New</a></div>
        <div class="mission" *ngFor="let m of avaible_missions" routerLink="/mission/{{m.mission_id}}">
            <div class="mission_thumnail" [style.background-image]="m.mission.picture ? image_64 + m.mission.picture + ')': ''">{{m.mission.difficulty_id}}</div>
            <div class="mission_content">
                <div class="mission_title">{{m.mission.name}}</div>
                <div class="mission_bottom">
                    <div class="mission_points">Points : {{m.mission.points}}</div>
                    <div class="mission_progress">{{m.mission.objective_count}}</div>
                </div>
            </div>
        </div>
        <div class="empty" *ngIf="!avaible_missions.length">
            EMPTY
        </div>
    </div>

    <div class="main_card">
        <div class="label"><a class="label_text">Finished</a></div>
        <div class="mission" *ngFor="let m of finished_missions" routerLink="/mission/{{m.mission_id}}">
            <div class="mission_thumnail" [style.background-image]="m.mission.picture ? image_64 + m.mission.picture + ')': ''">{{m.mission.difficulty_id}}</div>
            <div class="mission_content">
                <div class="mission_title">{{m.mission.name}}</div>
                <div class="mission_bottom">
                    <div class="mission_points">Points : {{m.mission.points}}</div>
                    <div class="mission_progress">{{m.mission.objective_count}}</div>
                </div>
            </div>
        </div>
        <div class="empty" *ngIf="!finished_missions.length">
            EMPTY
        </div>
    </div>
</div>
<div class="spinner" *ngIf="!loaded"></div>
