.label
    background-color: #1976d2
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    color: white
    height:30px
    display: flex
    align-items: center
    
.main_card
    background-color: white
    border-radius: 15px
    padding-bottom: 4px
    margin-bottom: 15px

.label_text
    margin-left: 20px
    font-size: 20px

.empty
    height: 80px
    margin: 10px
    font-size: 30px
    line-height: 80px
    text-align: center
    vertical-align: middle
    color: lightgrey

.mission
    background-color: white
    height: 90px
    display: flex
    margin: 10px
    border-radius: 10px
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc

    //-moz-box-shadow: inset 0 -7px 10px -10px #000000
    //-webkit-box-shadow: inset 0 -7px 10px -10px #000000
    //box-shadow: inset 0 -7px 10px -10px #000000


.mission_thumnail
    background-color: lightgrey
    width: 90px
    margin: 5px
    background-image: url("../images/sky.jpg")
    background-size: cover
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px

    //-moz-box-shadow: inset 0 -7px 10px -10px #000000
    //-webkit-box-shadow: inset 0 -7px 10px -10px #000000
    //box-shadow: inset 0 -7px 10px -10px #000000

.mission_content
    font-size: 25px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-self: stretch
    flex-grow:1
     

.mission_bottom
    align-self: flex-end
    display: flex
    flex-direction: row
    justify-content: space-between
    align-self: stretch
    font-size: 18px
    margin-left: 7px
    margin-right: 7px


.mission_title
    margin: 7px

.mission_points
    align-self: left

.mission_progress
    align-self: right


.main_text
    text-align: center

.mission:hover
    background-color: #0077db
    color: white
    

    