<div class="login">
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
          <div class="form-group">
            <label for="email">e-mail</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter e-mail"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">password</label>
            <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
              name="password">
          </div>         
          <div (click)=handleLogin() class="button"><a class="button_text">Login</a></div>
        </form>
      </div>
    </div>
  </div>