<div class="wrap">
    <h2>HOLD THE BUTTON</h2>
    <div class="wrap-icon">
        <a *ngIf="procentCalculated >= 100"  class="check-icon material-icons">
            check_circle_outline 
        </a>      
    </div>
    <div class="activity-body">
        <div class="bar" w3-round>
            <div class="progress" [style.width]="loadBarProcent">
            </div>
        </div>
        <div class="button" 
        (mousedown)="buttonStart()" (mouseup)="buttonEnd()" (touchstart)="buttonStart()" (touchend)="buttonEnd()"
        [style.box-shadow]="shadow_def" [style.animation]="animation">
        </div>
    </div>
</div>
