.bar
    background-color: #e4e4e4
    border-style: solid 
    border-width: 3px
    border-color: #e4e4e4
    width: 90%
    height: 50px


.progress
    background-color: #0077db
    height: 50px


.check-icon
    font-size: 40px
    color: green

.wrap-icon
    margin-top: 10px
    height: 50px
    text-align: center
    vertical-align: middle
    line-height: 50px

.button
    height: 100px
    background-color: white
    border-radius: 50%
    width: 100px

.activity-body
    width: 100%
    flex-grow: 1
    justify-content: space-evenly
    display: flex
    flex-direction: column
    align-items: center

.wrap
    flex: 1
    box-sizing: border-box
    height: 100%
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center


@keyframes expand-activity-button
    0%
        box-shadow: 0 0 0 0px rgba(#0077db, 0)
    100%
        box-shadow: 0 0 0 25px rgba(#0077db, 0.6)