<div class="login">
    <h1 class="text-center">Sign up</h1>
    <div class="card">
      <div class="card-body">
          <form class="form-group">

            <div class="form-group">
                <label for="email">username</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="userDetails.username" placeholder="Enter username"
                name="username" [ngClass]="(response.errors.emptyField && userDetails.username == '')? 'invalid': ''">
            </div>
            
            <div class="form-group">
            <label for="email">e-mail</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="userDetails.email" placeholder="Enter e-mail"
                name="email" 
                [ngClass]="response.errors.invalidEmail || response.errors.emailTaken || (response.errors.emptyField && userDetails.email == '') ? 'invalid': ''">
            </div>

            <div class="form-group">
            <label for="pwd">password</label>
            <input type="password" class="form-control" [(ngModel)]="userDetails.password" id="password" placeholder="Enter password"
                name="password" [ngClass]="(response.errors.emptyField && userDetails.password == '')? 'invalid': ''">
            </div> 

            <div class="form-group">
                <label for="pwd">repeat password</label>
                <input type="password" class="form-control" [(ngModel)]="userDetails.matchingPassword" id="password" placeholder="Enter password"
                name="password" [ngClass]="response.errors.passwordsDoNotMatch || (response.errors.emptyField && userDetails.matchingPassword == '')? 'invalid': ''">
            </div> 

            <div (click)=sendForm() class="button"><a class="button_text">Sign up</a></div>
            <div class="errors">
                <div *ngIf="response.errors.emptyField">Please fill in all of the fields!</div>
                <div *ngIf="response.errors.invalidEmail">Invalid e-mail!</div>
                <div *ngIf="response.errors.emailTaken">E-mail already taken!</div>
                <div *ngIf="response.errors.passwordsDoNotMatch">Passwords do not match!</div>
                <div *ngIf="response.success" class="compleated">Registration compleated.</div>
            </div>
        </form>
      </div>
    </div>
</div>



