.login
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

.card
    display: colun

.form-group
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    margin-bottom: 15px

.form-control
    border-radius: 20px
    border-width: 1px
    padding: 20px
    width: 250px
    height: 10px
    border-color: lightgrey

.invalid
    border-color: red
    border-width: 2px
    background-color: #ffdddd

.alert-warning
    color: red

.alert-success
    color: green

.button
    margin-top: 20px
    width:40%
    background-color: white
    height: 50px
    -moz-box-shadow:    5px 5px 5px 3px #ccc
    -webkit-box-shadow: 5px 5px 5px 3px #ccc
    box-shadow:         3px 3px 3px 3px #ccc
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    border-radius: 15px

.button_text
    font-size: 20px

.button:hover
    background-color: #0077db
    color: white

.errors
    margin-top: 10px
    color: red

.compleated
    color: green
