<div class="body" *ngIf="user">
    <div class="title">Ranking</div>
    <div class="main_content">
        <div class="main_card">
            <div class="user_card" *ngFor="let r of ranking" [ngClass]="(r.position == user.position) ? 'markUser' : '' "> 
                <div class="position">{{r.position}}</div>
                <div class="username">
                    {{r.username}} 
                </div>  
                <div class="points">
                    {{r.points}}
                </div>
            </div>
            <div class="gap" *ngIf="user.position > 11">
                <div class="gap_line"></div>
                <div class="gap_line"></div>
                <div class="gap_line"></div>
            </div>
            <div class="user_card markUser" *ngIf="user.position > 10">
                <div class="position" >{{user.position}}</div>
                <div class="username">
                    {{user.username}} 
                </div>  
                <div class="points">
                    {{user.points}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner" *ngIf="!user"></div>
