.body
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%

.title
    font-size: 35px
    margin: 10px

.main_content
    width: 100%
    padding: 10px
    display: flex
    align-items: center
    box-sizing: border-box

.main_card
    background-color: white
    border-radius: 15px
    padding-left: 10px
    padding-right: 10px
    padding-top: 5px
    padding-bottom: 5px
    width: 100%
    display: flex
    flex-direction: column
    box-sizing: border-box


.user_card
    height: 50px
    box-sizing: border-box
    background-color: white
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc
    border-radius: 10px
    margin-top: 5px
    margin-bottom: 5px
    display: flex
    align-items: center

.position
    width: 65px
    height: 100%
    text-align: center
    vertical-align: middle
    line-height: 50px
    border: solid grey
    border-width: 0 1px 0px 0px

.username
    margin-left: 15px
    height: 100%
    line-height: 50px
    vertical-align: middle
    flex: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.points
    width: 60px
    border: solid grey
    border-width: 0 0px 0px 1px
    text-align: center
    line-height: 50px
    vertical-align: middle

.markUser
    background-color: #0077db
    color: white


.gap
    height: 100px
    display: flex
    flex-direction: column
    align-items: center

.gap_line
    width: 10%
    height: 25px
    border: solid grey
    border-width: 0 0px 2px 0px
    
