<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const promise = new Promise(function(resolve, reject){
            
        });
        function confirmForChanges() {


        }
    </script>
</head>
<body>
<form action="/user/authenticate" th:object="${user}" method="POST" enctype="utf8" onsubmit="return confirmForChanges();">
        <div>
            <label>Username:</label>
            <input th:field="*{username}"/>
            <p th:each="error: ${#fields.errors('username')}"
                         th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
                         th:text="${error}">Validation error</p>
        </div>
        <button type="submit" >submit</button>
</form>
</body>
</html>