<html>
<body>
<h1> Registration </h1>
<form action="/user/registration" th:object="${user}" method="POST" enctype="utf8">
        <div>
            <label>Username:</label>
            <input th:field="*{username}"/>
            <p th:each="error: ${#fields.errors('username')}"
                         th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Email:</label>
            <input type="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}"
                         th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
                         th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Confirm password</label>
            <input type="password" th:field="*{matchingPassword}"/>
        </div>
        <button type="submit" >submit</button>
</form>
 
<a th:href="@{/user/login}" >login</a>
</body>
</html>