.map 
    width:100%
    flex: 1

.creator
    display: flex
    flex-direction: column
    height: 100%
    
.crator_text
    display: flex
    flex-direction: column
    padding: 10px

.text_area
    border-radius: 10px

.buttons
    height: 50px
    display: flex
    justify-content: flex-start
    align-items: center

.bottom_buttons
    justify-content: center

.button
    width: 100px
    background-color: white
    height: 35px
    margin: 10px
    padding: 5px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    border-radius: 10px
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc


.button_text
    font-size: 15px

.button:hover
    background-color: #0077db
    color: white

.waitTime
    border-radius: 10px
    border-color: grey
    border-width: 1px
    height: 25px
    margin-left: 10px
    flex: 1
    margin-right: 10px

.wait
    display: flex
    justify-content: flex-end
    align-items: center
    flex: 1

.waitText
    width: 75px

.invalid
    border-color: red
    border-width: 2px
    background-color: #ffdddd

