<div class="creator">
    <div class="crator_text">
        <h2>Objective Creator</h2>

        <label for="objectiveDescription">Objective Description</label>
        <textarea type="text" id="objectiveDescription" name="objectiveDescription" rows="3" class="text_area" [(ngModel)]="objective.description"></textarea><br>

        <label for="activityType">Activity type</label>

        <mat-form-field>
            <mat-select [(value)]="objective.type" (selectionChange)="onTypeChange()">
              <mat-option value="type_1">Wait</mat-option>
              <mat-option value="type_2">Photo</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="buttons">
        <div (click)=drawPolygon() class="button" *ngIf="!polygonDrawn">
            <a class="button_text">Add area</a>
        </div>
        <div (click)=clearPolygon() class="button" *ngIf="polygonDrawn">
            <a class="button_text" >Clear area</a>
        </div>
        <div (click)=addPhotoInteraction() class="button" *ngIf="objective.type == 'type_2'">
            <a class="button_text" *ngIf="pinAdding">Placing cam pin</a>
            <a class="button_text" *ngIf="!pinAdding">Place cam pin</a>
        </div>
        <div class="wait" *ngIf="objective.type == 'type_1'">
            <label for="waitTime" class="waitText">Hold time:</label>
            <input numeric type="text" id="waitTime" name="waitTime" class="waitTime" [(ngModel)]="waitTimeText"
            [ngClass]="error && (!waitTime || waitTime < 2 || waitTime > 180) ? 'invalid' : ''"><br>
        </div>
    </div>
    <div id="map-container" class="map" ></div>
    <div class="buttons bottom_buttons">
        <div (click)=dialogCancel() class="button"><a class="button_text">Cancel</a></div>
        <div (click)=dialogAccept() class="button"><a class="button_text">Apply</a></div>
    </div>
</div>