<div id="map-container" class="map"  fxFlex="column" fxFlex="1 1 auto"></div>

<!--
Lattitude: {{coords['latitude']}} <br>
Longirude: {{coords['longitude']}}

<h1>{{test_counter}}</h1><button (click)="reset_counter()">RESET</button>
<button (click)="clearPolygons()">CLEAR POLYGONS</button>
-->