.menu_flex
    display: flex
    width: 100%
    flex-direction: column
    justify-content: space-between
    align-items: center
    height: 425px
    margin-top: 10px

.menu_button
    width:90%
    background-color: white
    height: 70px
    -moz-box-shadow:    5px 5px 5px 3px #ccc
    -webkit-box-shadow: 5px 5px 5px 3px #ccc
    box-shadow:         5px 5px 5px 3px #ccc
    border-radius: 25px
    display: flex
    align-items: center
    justify-content: space-between

.menu_text
    font-size: 25px
    margin-left: 20px
    align-self: left

.menu_icon
    font-size: 40px
    margin-right: 15px

.menu_button:hover
    background-color: #0077db
    color: white

.logout_menu
    width: 50%


.menu_body
    display: flex
    width: 100%
    height: 600px
    flex-direction: column
    justify-content: space-between
    align-items: center

