<div class="menu_body">
    <div class="menu_flex">
        <h1>MENU</h1>
        <div class="menu_button" routerLink="/profile" routerLinkActive="active">
            <span class="menu_text">Profile</span><span class="material-icons menu_icon ">account_box</span>
        </div>
        <div class="menu_button" routerLink="/missions" routerLinkActive="active">
            <span class="menu_text">Missions</span><span class="material-icons menu_icon ">assignment</span>
        </div>
        <div class="menu_button" routerLink="/ranking" routerLinkActive="active">
            <span class="menu_text">Ranking</span><span class="material-icons menu_icon ">emoji_events</span>
        </div>
        <div class="menu_button" routerLink="/mission_creator" routerLinkActive="active">
            <span class="menu_text">Creator</span><span class="material-icons menu_icon ">create</span>
        </div>
    </div>
    <div class="menu_button logout_menu" *ngIf="isLoggedIn"  href="/logout" (click)=handleLogout()>
        <span class="menu_text">Logout</span><span class="material-icons menu_icon ">vpn_key</span>
    </div>
    <div class="menu_button logout_menu" *ngIf="!isLoggedIn"  routerLink="/login" routerLinkActive="active" >
        <span class="menu_text">Login</span><span class="material-icons menu_icon ">vpn_key</span>
    </div>
</div>