<div class="mission_wrap_top">
    <div class=" main_header">
        <div>MISSION CREATOR</div>
    </div>
    <label class="label_top" for="missionName">Mission Name</label>
    <input type="text" id="missionName" name="missionName" [(ngModel)]="mission.name" class="mission_input"
        [ngClass]="((response.errors.emptyField && mission.name == '') || response.errors.tooLongName) ? 'invalid': ''">

    <label class="label_top" for="missionName">Minimum Lvl</label>
    <input type="text" id="minimumLvl" name="missionName" [(ngModel)]="mission.minimumLvl" class="mission_input"
        [ngClass]="(response.errors.emptyField && mission.minimumLvl == '') || response.errors.wrongLvl ? 'invalid': ''">

    <label class="label_top" for="fname">Mission Description</label>
    <textarea  type="text" id="missionDescription" name="missionName" [(ngModel)]="mission.description" class="mission_input"
        [ngClass]="(response.errors.emptyField && mission.description == '') || response.errors.tooLongDescription ? 'invalid': ''"></textarea>

    <label class="label_top" for="missionPicture">Image</label>
    <input (change)="onFileChanged($event)" type="file" accept="image/*" id="missionPicture" name="missionPicture" class="upload"
        [ngClass]="(response.errors.emptyField && mission.missionDifficulty == '') || response.errors.wrongDifficulty ? 'invalid': ''">
    <div>
        <label class="label_top" for="missionDifficulty" [ngClass]=" response.errors.imageTooLarge ? 'invalid': ''">Difficulty : </label>
        <mat-form-field>
            <mat-select [(value)]="mission.missionDifficulty">
            <mat-option value=1>Very Easy</mat-option>
            <mat-option value=2>Easy</mat-option>
            <mat-option value=3>Medium</mat-option>
            <mat-option value=4>Hard</mat-option>
            <mat-option value=5>Very Hard</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<br>
<div class="objective_card">
    <div class="label">
        <div class="label_text">Objectives <a *ngIf="(response.errors.emptyField && mission.objectives.length == 0) || response.errors.objectiveError"
            class="error_objectives">errors</a></div>
        <div class="button objectives_button" (click)="newObjective()">Add +</div>
    </div>
    <div *ngFor="let objective of mission.objectives; let i=index" class="objective" (click)="objectiveOverlay(i)">
        <div class="objective_left">
            <div class="objective_number">{{i}}</div>
            <div class="objective_type">{{objective.type}}</div>
        </div>
        <div class="objective_right">
            <div class="objective_focus" *ngIf="objectiveFocus == i"> 
                <div class="button focus_button" (click)="editObjective(i)">EDIT</div>
                <div class="button focus_button" (click)="deleteObjective(i)">REMOVE</div>
                <div class="arrows">
                    <div class="arrow material-icons" *ngIf="i != 0" (click)="swapTop(i)">keyboard_arrow_up</div>
                    <div class="arrow material-icons" *ngIf="mission.objectives.length != i + 1" (click)="swapBottom(i)">keyboard_arrow_down</div>
                </div>
            </div>
            <div class="objective_desc" *ngIf="objectiveFocus != i">{{objective.description | slice:0:40}}</div> 
        </div>
    </div>
    <div class="empty" *ngIf="!mission.objectives.length">
        EMPTY
    </div>
</div>

<div class="button" (click)="complete()"> Complete </div>

<div class="success_message" *ngIf="response.success">Success</div>





