.objective
    background-color: white
    height: 80px
    display: flex
    margin: 10px
    border-radius: 10px
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc

.objective_left
    width: 60px
    padding: 10px
    display: flex
    flex-direction: column
    justify-content: space-around

.objective_right
    padding: 10px
    flex: 1
    display: flex
    flex-direction: column

.objective_desc
    height: 40px

.objective_card
    background-color: white
    border-radius: 15px
    padding-top: 5px
    padding-bottom: 5px

.button
    width: 100px
    background-color: white
    height: 35px
    margin: 10px
    padding: 5px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    border-radius: 10px
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc

.objectives_button
    height: 25px
    width: 60px
    color: black
    -moz-box-shadow:    1px 1px 9px 1px #0077db
    -webkit-box-shadow: 1px 1px 9px 1px #0077db
    box-shadow:         1px 1px 9px 1px #0077db

.button:hover
    background-color: #0077db
    color: white

.objective_focus
    display: flex

.focus_button
    height: 25px
    width: 70px
    color: black
    -moz-box-shadow:    1px 1px 9px 1px #ccc
    -webkit-box-shadow: 1px 1px 9px 1px #ccc
    box-shadow:         1px 1px 9px 1px #ccc


.label
    background-color: #1976d2
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    color: white
    height:50px
    display: flex
    align-items: center
    justify-content: space-between

.label_text
    margin-left: 20px
    font-size: 20px


.empty
    height: 80px
    margin: 10px
    font-size: 30px
    line-height: 80px
    text-align: center
    vertical-align: middle
    color: lightgrey

.arrows
    display: flex
    flex-direction: column
    justify-content: space-between
    align-self: flex-end
    margin-left: auto
    height: 60px


.mission_wrap_top
    display: flex
    flex-direction: column
    background-color: white
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px

.error_objectives
    color: red

.invalid
    border-color: red
    border-width: 2px
    background-color: #ffdddd

.mission_input
    font-size: 18px
    border-radius: 10px
    border-width: 2px
    border-color: lightgrey
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 15px
    padding: 5px

.label_top
    font-size: 18px
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 5px

.main_header
    font-size: 25px
    display: flex
    align-items: center
    justify-content: center
    margin-top: 15px
    margin-bottom: 15px

.upload
    margin-left: 10px

.success_message
    position: absolute
    top: 100px
    left: 50%
    margin-left: -35%
    margin-right: auto
    text-align: center
    vertical-align: middle
    line-height: 50px
    width:70%
    height:50px
    background-color: #c7ffce
    color: green


    