<div class="app"  fxLayout="column" fxFill>
    <div class="toolbar" role="banner" >
        <span class="material-icons menu_icon"><a routerLink="/menu" routerLinkActive="active">menu</a></span>
        <span *ngIf="isLoggedIn" class="nick_top">{{userData.username}}</span>
        <span *ngIf="isLoggedIn" class="lvl_circle">{{userData.user_id}}</span>
        <span class="button_wrap" *ngIf="!isLoggedIn">
            <div  class="login_button"><a routerLink="/login" routerLinkActive="active">Log in</a></div>
            <div  class="register_button"><a routerLink="/register" routerLinkActive="active">Sign up</a></div>
        </span>

    </div>
    <div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']" fxFlex fxLayout="column" class="content">
        <router-outlet #o="outlet"></router-outlet>
    </div>
    <!--
    <div class="footer"></div>
    </div>-->

</div>