.app
    height: 400px

.menu_icon
    font-size: 42px
    align-self: left
    margin-left: 5px

.nick_top
    align-self: center


.toolbar
    height: 60px
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #1976d2
    color: white
    font-weight: 600
    -webkit-box-shadow: 0px 3px 5px 6px #c5c5c5  
    -moz-box-shadow:    0px 3px 5px 6px #ccc  
    box-shadow:         0px 2px 20px 6px #c0c0c0  


.lvl_circle
    width: 42px
    height: 42px
    border-radius: 50%
    border: 2px solid #008bff
    font-size: 25px
    color: #fff
    line-height: 40px
    text-align: center
    background: #6abbff
    align-self: right
    margin-right:5px

.login_button
    margin-right: 5px

.register_button
    margin-right: 10px
    height: 40px
    width: 80px
    background-color: #6abbff
    text-align: center
    vertical-align: middle
    line-height: 40px
    border-radius: 12px


.button_wrap
    display: flex
    align-items: center

.router-flex 
  display: flex
  flex: 1 1 auto
  flex-direction: column
  //height: 100%


//.footer
  //  height:40px
